{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <div class="container mt-4 container-spacing">
        <h3 class="text-center mb-4 text-muted sticky-top p-2" style="font-weight: normal; font-size: 2rem; top: 70px; z-index: 1050;">
            <i class="fa-solid fa-pen" style="font-size: 23px;"></i> Editar Insumo
        </h3>
        <form action="{% url 'insumoEditar' form.instance.pk %}" method="post" class="bg-white p-5 rounded shadow-lg">
            {% csrf_token %}
            
            {{ form.as_p }}

             <!-- Botones -->
            <div class="mt-4 d-flex justify-content-center">
                <button type="submit" class="btn btn-icon m-2">
                    <i class="fa-solid fa-floppy-disk"></i>  <!-- Icono más moderno -->
                </button>
            </div>
        </form>
        <!-- Botón de Eliminar -->
        <div class="mt-4 d-flex justify-content-center">
            <form action="{% url 'insumoEliminar' form.instance.pk %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-icon m-2" 
                        onclick="return confirm('¿Estás seguro de que deseas eliminar este insumo?');">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </form>
            <!-- Botón Volver atrás -->
            <a href="{% url 'insumosLista' %}" class="btn btn-icon m-2">
                <i class="fa-solid fa-rotate-left"></i>  <!-- Icono de cancelar más moderno -->
            </a>
        </div>
    </div>

   
{% endblock %}
